.features__list {
  @media screen and (min-width: 767px) {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
  }
}

.features__item {
  &::before {
    content: "";
    display: block;
    height: 120px;

    background-color: var(--button-color);
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }

  @media screen and (max-width: 767px) {
    &:not(:last-child) {
      margin-bottom: 30px;
    }
  }

  @media screen and (min-width: 767px) {
    flex-basis: calc((100% - 30px) / 2);
  }

  @media screen and (min-width: 1199px) {
    flex-basis: calc((100% - 3 * 30px) / 4);
  }
}

$features-icons: "antenna", "clock", "diagram", "astronaut";

@each $icon in $features-icons {
  .features__item--#{$icon}::before {
    background-image: url(/images/icons/SVG/#{$icon}.svg);
  }
}

.features__title {
  margin-bottom: 10px;

  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
