.features__list {
  display: flex;
  column-gap: var(--gap);
}

.features__item {
  flex-basis: calc((100% - 3 * 30px) / 4);

  &::before {
    content: '';
    display: block;
    height: 120px;

    background-color: var(--button-color);
    background-repeat: no-repeat;
    background-size: 70px 70px;
    background-position: center;
    border-radius: 4px;
    margin-bottom: 30px;
  }
}

$features-icons: 'antenna', 'clock', 'diagram', 'astronaut';

@each $icon in $features-icons {
  .features__item--#{$icon}::before {
    background-image: url(/images/icons/SVG/#{$icon}.svg);
  }
}

.features__title {
  margin-bottom: 10px;

  font-style: normal;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--title-text-color);
}
