.header__container {
  @include respond(tablet) {
    display: flex;
    align-items: center;
  }
  border-bottom: 1px solid #ececec;
}

.header__logo {
  display: inline-block;
  padding: 14px 0;

  @include respond(tablet) {
    padding: 25px 0;
    margin-right: 80px;
  }
  @include respond(pc) {
    margin-right: 95px;
  }
}
